.inner-container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h1 {
    position: absolute;
    top: 0;
    left: -30px;
}

header {
    background-color: #344256;
}

header svg {
    width: 100px;
}

section {
    background-color: gainsboro;
    padding: 50px 0;
}

.menu {
    display: flex;
    gap: 0.75rem;
}

.menu li {
    line-height: 60px;
}

.menu a {
    color: #fff;
    display: block;
    font-weight: bold;
}

.col {
    width: 300px;
    height: 300px;
    background-color: darkblue;
}

.col:nth-of-type(2) {
    background-color: slategray;
    position: relative;
    left: 250px;
    top: -100px;
}

.col:last-of-type {
    background-color: goldenrod;
    position: relative;
    left: 500px;
    top: -200px;
}